<!DOCTYPE html>
<html lang="zxx">

<head>
  <meta charset="utf-8">
  <title>DamianA</title>

  <!-- mobile responsive meta -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  
  <!-- ** Plugins Needed for the Project ** -->
  <!-- Bootstrap -->
  <link rel="stylesheet" href="../public/plugins/bootstrap/bootstrap.min.css">
  <!-- slick slider -->
  <link rel="stylesheet" href="../public/plugins/slick/slick.css">
  <!-- themefy-icon -->
  <link rel="stylesheet" href="../public/plugins/themify-icons/themify-icons.css">

  <!-- Main Stylesheet -->
  <link href="../public/css/style.css" rel="stylesheet">
  
  <!--Favicon-->
  <link rel="shortcut icon" href="../public/images/favicon.ico" type="image/x-icon">
  <link rel="icon" href="../public/images/favicon.ico" type="image/x-icon">

</head>

<body>
  

<header class="navigation fixed-top">
  <nav class="navbar navbar-expand-lg navbar-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation"
      aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse text-center" id="navigation">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="about">about</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="portfolio">Portfolio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="contact">Contact</a>
        </li>
      </ul>
    </div>
  </nav>
</header>

<!-- page title -->
<section class="page-title-alt bg-primary position-relative">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1 class="text-white font-tertiary">About Me</h1>
      </div>
    </div>
  </div>
  <!-- background shapes -->
  <img src="../public/images/illustrations/leaf-bg-top.png" alt="illustrations" class="bg-shape-1 w-100">
  <img src="../public/images/illustrations/dots-group-sm.png" alt="illustrations" class="bg-shape-2">
  <img src="../public/images/illustrations/leaf-yellow.png" alt="illustrations" class="bg-shape-3">
  <img src="../public/images/illustrations/leaf-orange.png" alt="illustrations" class="bg-shape-4">
  <img src="../public/images/illustrations/dots-group-cyan.png" alt="illustrations" class="bg-shape-5">
  <img src="../public/images/illustrations/leaf-cyan-lg.png" alt="illustrations" class="bg-shape-6">
</section>
<!-- /page title -->

<!-- about -->
<section class="section pt-5">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <p>I enjoy gaming, anime and spending my time relaxing when I do not have to work.
            Reading up on different coding mechanics and watching videos on how various elements work on different websites.
            Looking at a website and trying to figure out how it was built and how the frontend works in harmony
            with the backend is something I find myself doing often.</p>
        <p>When faced with a bug that I have trouble fixing, I will usually stay up late into the night
           looking for answers on the matter can be addressed and what can be done to rectify the situation.
        </p>
        <p>We learn through our mistakes and when I make them, I make sure to make a note of it, whether
           it is a written one or a recording, so that I do not forget how I had
           to go about on rectifying the situation</p>
      </div>
      <div class="col-md-4 text-center drag-lg-top">
        <div class="shadow-down mb-4">
          <img src="../public/images/about/damian.jpg" alt="author" class="img-fluid w-100 rounded-lg border-thick border-white">
        </div>
        <h4>Damian Andrews</h4>
      </div>
    </div>
  </div>
</section>
<!-- /about -->

<!-- Work Process -->
<section class="section">
  <div class="container">
    <div class="row justify-content-around">
      <div class="col-lg-12 text-center">
        <h2 class="section-title">Work Process</h2>
      </div>
      <div class="col-lg-3 col-md-4 text-center hover-shadow pt-3">
        <div class="">
          <img src="../public/images/icons/plan.png" class="mb-4" alt="icon">
          <h4 class="mb-4">Research and Plan</h4>
          <p>Find out what you need and figure out the best way I need to go about creating the page.</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 text-center hover-shadow pt-3">
        <img src="../public/images/icons/design.png" class="mb-4" alt="icon">
        <h4 class="mb-4">Design and Develop</h4>
        <p>Commit myself to creating the website and the various components that you requested and implementing it.</p>
      </div>
      <div class="col-lg-3 col-md-4 text-center hover-shadow pt-3">
        <img src="../public/images/icons/print.png" class="mb-4" alt="icon">
        <h4 class="mb-4">Deliver</h4>
        <p>Get your website up and launching it for you, making sure that good care was taken in making sure that
           everything is running as it should.</p>
      </div>
    </div>
  </div>
</section>
<!-- ./Work Process -->


<!-- clients -->
<section class="section">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center">
          <h2 class="section-title">My Clients</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-sm-4">
          <a href="https://www.kurtwyngaard.co.za" target="_blank"><img src="../public/images/clients-logo/kurt-1.png" class="d-unset img-fluid"></a>
        </div>
        <div class="col-lg-4 col-sm-4">
            <a href="https://www.nibbly.co.za" target="_blank"><img src="../public/images/clients-logo/nibbly.png" class="d-unset img-fluid"></a>
        </div>
        <div class="col-lg-4 col-sm-4">
              <a href="https://www.madhiring.co.za" target="_blank"><img src="../public/images/clients-logo/madhiring.png"  class="d-unset img-fluid"></a>
        </div>
        </div>
      </div>
    </div>
  </section>
  <!-- /clients -->

<!-- footer -->
<footer class="bg-dark footer-section">
  <div class="section">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h5 class="text-light">Email</h5>
          <p class="text-white paragraph-lg font-secondary">damian@damiana.co.za</p>
        </div>
        <div class="col-md-4">
          <h5 class="text-light">Phone</h5>
          <p class="text-white paragraph-lg font-secondary">+27 83 233 2850</p>
        </div>
        <div class="col-md-4">
          <h5 class="text-light">Address</h5>
          <p class="text-white paragraph-lg font-secondary">Cape Town/ South Africa</p>
        </div>
      </div>
    </div>
  </div>
  <div class="border-top text-center border-dark py-5">
    <p class="mb-0 text-light">Copyright ©<script>
        var CurrentYear = new Date().getFullYear()
        document.write(CurrentYear)
      </script> a theme by <a href="themefisher.com">themefisher.com</a></p>
  </div>
</footer>
<!-- /footer -->

<!-- jQuery -->
<script src="../public/plugins/jQuery/jquery.min.js"></script>
<!-- Bootstrap JS -->
<script src="../public/plugins/bootstrap/bootstrap.min.js"></script>
<!-- slick slider -->
<script src="../public/plugins/slick/slick.min.js"></script>
<!-- filter -->
<script src="../public/plugins/shuffle/shuffle.min.js"></script>

<!-- Main Script -->
<script src="../public/js/script.js"></script>

</body>
</html>